<!DOCTYPE html>
<html lang="en" ng-app="nexp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Next Experiment design toolkit for controlled experiment in HCI</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="css/angular-ui-tree.min.css">
    <link rel="stylesheet" href="css/guidedesignTwo.css">

    <!-- Bootstrap core Javascript-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="js/angular-local-storage.min.js"></script>

    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

  </head>

  <body ng-controller="pageTwoControl">

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="guidedesign.html">Home</a></li>
            <li role="presentation"><a href="contents/helpPage3.html">Help</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">NEXP</h3>
      </div>
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="guidedesignOne.html">I-Research question & hypothesis</a></li>
        <li role="presentation" class="active"><a href="">II-Variables</a></li>
        <li role="presentation"><a href="guidedesignThree.html">III-Arrangement</a></li>
        <li role="presentation"><a href="guidedesignFour.html">IV-Block & Trial & Timing</a></li>
        <li role="presentation"><a href="guidedesignFive.html">V-Procedures</a></li>
      </ul>
      <div class="page-header">
          <h1><b>STAGE 2 :</b> Define the statistical variables </h1>
          <p>In this stage, you will use statistical language to define the elements of your experiment into independent variables and dependent variables. Independent variables are factors you manipulate that may influence task performance.  Dependent variables are the measurements that change, based on the manipulation of the independent variables.</p>
      </div>
      <div class="jumbotron">
          <h3>1. Define the independent variables (factors).</h3>
          The first independent variable is mostly likely the solutions/interface/interaction technique you want to compare with. The different solutions/interfaces/interaction techniques you want to compare with are the test conditions (or levels) for this independent variable. 
          Note that an independent variable is also called a factor, a test condition is also called a level. These terms are synonyms and can be used interchangeably. 
          <br />
          <a href="contents/helpPage3.html#1" role="button" class="close" aria-label="Close"><span id="helpIcon" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
      </div>

<!-- AnjularJS Tree -->  
<!--
        <script type="text/ng-template" id="nodes_renderer.html">
          <div class="tree-node tree-node-content">
            <a class="btn btn-success btn-xs" ng-if="node.levels && node.levels.length > 0" data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
            {{node.name}}
            <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
            <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
          </div>
          <ol ui-tree-nodes="" ng-model="node.levels" ng-class="{hidden: collapsed}">
            <li ng-repeat="node in node.levels" ui-tree-node>
              <div ui-tree-handle class="tree-node tree-node-content">
                {{node.name}}
                <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-pencil"></span></a>
              </div>
            </li>
          </ol>
        </script>
        <div ui-tree id="tree-root">
          <ol ui-tree-nodes="" ng-model="jsonData.design_guide.variables.independent_variable">
            <li ng-repeat="node in jsonData.design_guide.variables.independent_variable" ui-tree-node ng-include="'nodes_renderer.html'"></li>
          </ol>
        </div>
-->

      <div ui-tree="options">
        <h3>Independent variables: Solutions</h3>
        <ol ui-tree-nodes ng-model="jsonData.design_guide.variables.independent_variable">
          <li ng-repeat="group in jsonData.design_guide.variables.independent_variable | filter: filterSolution" ui-tree-node>
            <div class="group-title angular-ui-tree-handle" ng-show="!group.editing" data-nodrag>
              <a href="" class="btn btn-danger btn-xs pull-right" data-nodrag data-toggle="modal" data-target="#showExample"><i class="glyphicon glyphicon-remove"></i></a>
              <a href="" class="btn btn-primary btn-xs pull-right" data-nodrag ng-click="editGroup(group)"><i class="glyphicon glyphicon-pencil"></i></a>
              <div>&nbsp;Independent variable:&nbsp;{{group.name}}</div>
            </div>
            <div class="group-title angular-ui-tree-handle" data-nodrag ng-show="group.editing">
              <form class="form-inline" role="form">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Variable name" ng-model="group.name">
                </div>
                <button type="submit" class="btn btn-default" ng-click="saveGroup(group)">Save</button>
                <button type="submit" class="btn btn-default" ng-click="cancelEditingGroup(group)">Cancel</button>
              </form>
            </div>
            <ol ui-tree-nodes ng-model="group.levels" data-type="category">
              <li ng-repeat="category in group.levels" ui-tree-node>
                <div class="category-title angular-ui-tree-handle" ng-show="!category.editing">
                  <a href="" class="btn btn-danger btn-xs pull-right" data-nodrag ng-click="removeCategory(group, category)"><i class="glyphicon glyphicon-remove"></i></a>
                  <a href="" class="btn btn-primary btn-xs pull-right" data-nodrag ng-click="editCategory(category)"><i class="glyphicon glyphicon-pencil"></i></a>
                  <div>
                    &nbsp;Test condition: &nbsp;{{category.name}}&nbsp;&nbsp;&nbsp;&nbsp;Description:{{category.description}}
                  </div>
                </div>
                <div class="category-title angular-ui-tree-handle" data-nodrag ng-show="category.editing">
                  <form class="form-inline" role="form">
                    <div class="form-group">
                      <label>Name</label>
                      <input type="text" class="form-control" placeholder="Test condition name" ng-model="category.name">
                      <label>Description</label>
                      <input type="text" class="form-control" placeholder="Description" ng-model="category.description">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="saveCategory(group,category)">Save</button>
                    <button type="submit" class="btn btn-default" ng-click="cancelEditingCategory(category)">Cancel</button>
                  </form>
               </div>
              </li>
            </ol>
            <ol class="angular-ui-tree-nodes" data-nodrag>
              <li class="angular-ui-tree-node">
                <div class="category-title angular-ui-tree-handle">
                  <form class="form-inline" role="form">
                    <div class="form-group">
                      <label class="sr-only" for="categoryName">Test condition</label>
                      <input type="text" class="form-control" ng-model="group.newCategoryName" placeholder="Test condition name">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="addCategory(group)">Add Test condtions</button>
                  </form>
                </div>
              </li>
            </ol>
          </li>
        </ol>
      </div>
      <hr />
      <div ui-tree="options">
      <h3>Other factors that may influence the comparison of the different solutions</h3>
      <p>These are the many other factors that can potentially influence the result of your comparison. These factors can include task types, different contextual and environmental factors, user groups, etc. You can also include some of these factors as the independent variables you want to test in your experiment</p>
      <p>For each independent variable, you choose a few representative test conditions. For example, the independent variable size of cursor may have the test conditions small and large. The task target clicking may have the test conditions square target and round target.</p>
      <ol ui-tree-nodes ng-model="jsonData.design_guide.variables.independent_variable" data-type="group">
        <li ng-repeat="group in jsonData.design_guide.variables.independent_variable" ng-hide="filterSolution(group)" ui-tree-node>
          <div class="group-title angular-ui-tree-handle" ng-show="!group.editing">
            <a href="" class="btn btn-danger btn-xs pull-right" data-nodrag ng-click="removeGroup(group)"><i class="glyphicon glyphicon-remove"></i></a>
            <a href="" class="btn btn-primary btn-xs pull-right" data-nodrag ng-click="editGroup(group)"><i class="glyphicon glyphicon-pencil"></i></a>
            <div>&nbsp;Independent variable:&nbsp;{{group.name}}</div>
          </div>
          <div class="group-title angular-ui-tree-handle" data-nodrag ng-show="group.editing">
            <form class="form-inline" role="form">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Variable name" ng-model="group.name">
              </div>
              <button type="submit" class="btn btn-default" ng-click="saveGroup(group)">Save</button>
              <button type="submit" class="btn btn-default" ng-click="cancelEditingGroup(group)">Cancel</button>
            </form>
          </div>
          <ol ui-tree-nodes ng-model="group.levels" data-type="category">
            <li ng-repeat="category in group.levels" ui-tree-node>
              <div class="category-title angular-ui-tree-handle" ng-show="!category.editing">
                <a href="" class="btn btn-danger btn-xs pull-right" data-nodrag ng-click="removeCategory(group, category)"><i class="glyphicon glyphicon-remove"></i></a>
                <a href="" class="btn btn-primary btn-xs pull-right" data-nodrag ng-click="editCategory(category)"><i class="glyphicon glyphicon-pencil"></i></a>
                <div>
                  &nbsp;Test condition: &nbsp;{{category.name}}&nbsp;&nbsp;&nbsp;&nbsp;Description:{{category.description}}
                </div>
              </div>
              <div class="category-title angular-ui-tree-handle" data-nodrag ng-show="category.editing">
                <form class="form-inline" role="form">
                  <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Test condition name" ng-model="category.name">
                    <label>Description</label>
                    <input type="text" class="form-control" placeholder="Description" ng-model="category.description">
                  </div>
                  <button type="submit" class="btn btn-default" ng-click="saveCategory(group, category)">Save</button>
                  <button type="submit" class="btn btn-default" ng-click="cancelEditingCategory(category)">Cancel</button>
                </form>
             </div>
            </li>
          </ol>
          <ol class="angular-ui-tree-nodes" data-nodrag>
            <li class="angular-ui-tree-node">
              <div class="category-title angular-ui-tree-handle">
                <form class="form-inline" role="form">
                  <div class="form-group">
                    <label class="sr-only" for="categoryName">Test condition</label>
                    <input type="text" class="form-control" ng-model="group.newCategoryName" placeholder="Test condition name">
                  </div>
                  <button type="submit" class="btn btn-default" ng-click="addCategory(group)">Add Test condtions</button>
                </form>
              </div>
            </li>
          </ol>
        </li>
      </ol>
      <ol class="angular-ui-tree-nodes">
        <li class="angular-ui-tree-node">
          <div class="group-title angular-ui-tree-handle">
            <form class="form-inline" role="form">
              <div class="form-group">
                <input type="text" class="form-control" id="groupName" placeholder="Variable name">
              </div>
              <button type="submit" class="btn btn-default" ng-click="addGroup()">Add Independent Variables</button>
            </form>
          </div>
        </li>
      </ol>
      </div>
      <hr />
      <div class="jumbotron">
          <h3>2. Define the Dependent Variables:</h3>
          These are the measurable results that depend on the variables that you manipulate.  Ensure that these measurements can be reliably obtained, and that they reflect the true nature of the task you are asking your users to undertake. 
          <br/>
          <a href="contents/helpPage3.html#1" role="button" class="close" aria-label="Close"><span id="helpIcon" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
      </div>
      <div ui-tree="options">
        <ol class="angular-ui-tree-nodes">
          <li class="angular-ui-tree-node">
            <div class="group-title angular-ui-tree-handle">
              <form class="form-inline" role="form">
                <div class="form-group">
                  <label class="sr-only" for="DVgroupName">Variable name</label>
                  <input type="text" class="form-control" id="DVgroupName" placeholder="Variable name">
                </div>
                <button type="submit" class="btn btn-default" ng-click="addGrouptoDV()">Add Dependent Variables</button>
              </form>
            </div>
          </li>
        </ol>
        <ol ui-tree-nodes ng-model="jsonData.design_guide.variables.dependent_variable" data-type="DVgroup">
            <li ng-repeat="group in jsonData.design_guide.variables.dependent_variable" ui-tree-node>
              <div class="category-title angular-ui-tree-handle" ng-show="!group.editing">
                <a href="" class="btn btn-danger btn-xs pull-right" data-nodrag ng-click="removeDVGroup(group)"><i class="glyphicon glyphicon-remove"></i></a>
                <a href="" class="btn btn-primary btn-xs pull-right" data-nodrag ng-click="editGroup(group)"><i class="glyphicon glyphicon-pencil"></i></a>
                <div>&nbsp;Dependent variable:&nbsp;{{group.name}}&nbsp;&nbsp;&nbsp;&nbsp;Description:{{group.description}}</div>
              </div>
              <div class="category-title angular-ui-tree-handle" data-nodrag ng-show="group.editing">
                <form class="form-inline" role="form">
                  <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Variable name" ng-model="group.name">
                    <label>Description</label>
                    <input type="text" class="form-control" placeholder="Description" ng-model="group.description">
                  </div>
                  <button type="submit" class="btn btn-default" ng-click="saveGroup(group)">Save</button>
                  <button type="submit" class="btn btn-default" ng-click="cancelEditingGroup(group)">Cancel</button>
                </form>
              </div>
            </li>
          </ol>
        </div>
        <br/>
        <p>You have completed deciding what you are going to test. Now it is time to decide on the order of the test blocks. </p>
<!--       <div class="row">
      <div class="col-md-5"><h2>Dependent variables</h2></div>
        <div class="col-md-6">
          <select multiple class="form-control" id="selectTwo" size="4">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          </select>
        </div>
        <div class="col-md-1">
          <div class="btn-group-vertical" role="group" aria-label="...">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#secondModal">
              <span class="glyphicon glyphicon-plus" aria-hidden="false"></span></button>
            <button type="button" class="btn btn-default" onclick="clickMinusFunction(selectTwo)">
              <span class="glyphicon glyphicon-minus" aria-hidden="false"></span></button>
          </div>
        </div>
        
      </div> -->
<!-- ——————————————————————————————————————————————————————————————————————————————————————————————————————————————————————— -->
    <nav>
      <ul class="pager">
        <li class="previous"><a href="guidedesignOne.html"><span aria-hidden="true">&larr;</span> Previous</a></li>
        <li class="next"><a href="guidedesignThree.html">Next<span aria-hidden="true">&rarr;</span></a></li>
      </ul>
    </nav>
    <footer class="footer">
      <p>&copy; XXX-HCI Lab</p>
    </footer>
    </div> 
    <!-- /container --> 

<!-- Model template for add into the select options -->    
    <div id="showExample" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-body">
            <p>The primary independent variable (solution) is the most imporant one that you want to investigate. We strongly recommend you not to delete it. You can modify it by clicking the blue "EDIT" buttion.</p>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
<!-- ——————————————————————————————————————————————————————————————————————————————————————————————————————————————————————— -->
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="js/pageTwoControl.js"></script>
  <script src="js/ie10-viewport-bug-workaround.js"></script>
  <script type="text/javascript" src="js/angular-ui-tree.js"></script>
  <script type="text/javascript" src="js/pageTwoControl.js"></script> 
  </body>
</html>
