<!DOCTYPE html>
<html lang="en" ng-app="nexp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Next Experiment design toolkit for controlled experiment in HCI</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap core Javascript-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="js/angular-local-storage.min.js"></script>
    <script src="js/d3.min.js"></script>
    <script src="js/Draw.js"></script>

    <!-- Custom styles for this template -->
    <link href="css/guidedesignFour.css" rel="stylesheet">

    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

  </head>

  <body ng-controller="pageFourControl">
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="guidedesign.html">Home</a></li>
            <li role="presentation"><a href="contents/helpPage5.html">Help</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">NEXP</h3>
      </div>
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="guidedesignOne.html">I-Research question & hypothesis</a></li>
        <li role="presentation"><a href="guidedesignTwo.html">II-Variables</a></li>
        <li role="presentation"><a href="guidedesignThree.html">III-Arrangement</a></li>
        <li role="presentation" class="active"><a href="">IV-Block & Trial & Timing</a></li>
        <li role="presentation"><a href="guidedesignFive.html">V-Procedures</a></li>
      </ul>
      <div class="page-header">
          <h1><b>STAGE 4 :</b> Adjust duration of task blocks</h1>
          <p>The purpose of this stage is to adjust the amount of time your entire experiment takes. This may require you to adjust the number of independent variables you test, or the arrangement of the task blocks or you may even have to reconsider how to test your solution. Experimental design incorporates many elements and it is normal to try different formats before you find the design that is effective and can be conducted in a reasonable amount of time. </p>
      </div>

      <div class="jumbotron">
          <p><b>Terms used in this section:</b></p>
          <p>Trial: each performance of the task that will be measured.  A minimum of three trials per condition is recommended.</p>
          <p>Block: a group of trials. </p>
          <p>Condition: the unique set of independent variables that will be used in each block of trials. Changing the number of independent variables will change the number of participants required to test all the possible combinations.</p>
          <p><b>Instructions:</b></p>
          <p>Step 1: Estimate the time for each trial</p>
          <p>Step 2: Review the resulting time for each block</p>
          <p>Step 3: Review the trials and blocks so that the main part of the experiment is within the recommended 45 minutes.</p>
          <p>Step 4: If the experiment is too long, you may have to return to Stage 2 and Stage 3 to adjust the number of independent variables, test conditions and the order of tasks. Feel free to adjust the various elements of the experiment until the experiment falls within a reasonable time span.</p>
          <a href="contents/helpPage5.html#1" role="button" class="close" aria-label="Close"><span id="helpIcon" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
      </div>
      <div class="InputGroup">
        <h4 class="smallLabels">Minimum number of participants:</h4>
        <div class="input-group input-group-lg">
          <span class="input-group-addon largeLabels" id="sizing-addon4">Minimum number of participants:</span>
          <input type="number" class="form-control" placeholder="0" aria-describedby="sizing-addon4" ng-model="jsonData.design_guide.arrangement.min_number" disabled>
        </div>
        <p>State the number of participants you want to have. This must be multiples of <span ng-bind="jsonData.design_guide.arrangement.min_number"></span> based on your current study design.</p>
        <h4 class="smallLabels">State the actual number of participants:</h4>
        <Form class="input-group input-group-lg" name="groupOne">
          <span class="input-group-addon largeLabels" id="sizing-addon5">State the actual number of participants:</span>
          <input type="number" class="form-control" name="input" placeholder="" aria-describedby="sizing-addon5" ng-model="jsonData.design_guide.arrangement.actual_number" min="0" max="99" required>
          <span class="input-group-addon small" ng-show="groupOne.input.$error.required"><span class="label label-danger">Required!</span></span>
          <span class="input-group-addon small" ng-show="groupOne.input.$error.number"><span class="label label-danger">Not valid number!</span></span>
          <span class="input-group-addon small" ng-show="groupOne.input.$error.min || groupOne.input.$error.max">The value must be in range 0 to 99!</span>
        </Form>
        <h4 class="smallLabels">State the number of trials per condition: </h4>
        <Form class="input-group input-group-lg" name="groupTwo">
          <span class="input-group-addon largeLabels" id="sizing-addon1">State the number of trials per condition: </span>
          <input type="number" class="form-control" name="input" placeholder="" aria-describedby="sizing-addon1" ng-model="jsonData.design_guide.arrangement.trial" min="0" max="99" required>
          <span class="input-group-addon small" ng-show="groupTwo.input.$error.required"><span class="label label-danger">Required!</span></span>
          <span class="input-group-addon small" ng-show="groupTwo.input.$error.number"><span class="label label-danger">Not valid number!</span></span>
          <span class="input-group-addon small" ng-show="groupTwo.input.$error.min || groupTwo.input.$error.max">The value must be in range 0 to 99!</span>
        </Form>
        <h4 class="smallLabels">State the number of blocks per participant:</h4>
        <Form class="input-group input-group-lg" name="groupThree">
          <span class="input-group-addon largeLabels" id="sizing-addon2">State the number of blocks per participant:</span>
          <input type="number" class="form-control" name="input" placeholder="" aria-describedby="sizing-addon2" ng-model="jsonData.design_guide.arrangement.block" min="0" max="99" required>
          <span class="input-group-addon small" ng-show="groupThree.input.$error.required"><span class="label label-danger">Required!</span></span>
          <span class="input-group-addon small" ng-show="groupThree.input.$error.number"><span class="label label-danger">Not valid number!</span></span>
          <span class="input-group-addon small" ng-show="groupThree.input.$error.min || groupThree.input.$error.max">The value must be in range 0 to 99!</span>
        </Form>
        <h4 class="smallLabels">Estimate the duration of each trial:</h4>
        <Form class="input-group input-group-lg" name="groupFour">
          <span class="input-group-addon largeLabels" id="sizing-addon3">Estimate the duration of each trial:</span>
          <input type="number" class="form-control" name="input" placeholder="" aria-describedby="sizing-addon3" ng-model="jsonData.design_guide.arrangement.time_per_trial" min="0" max="3600" required> 
          <span class="input-group-addon small">Seconds</span> 
          <span class="input-group-addon small" ng-show="groupFour.input.$error.required"><span class="label label-danger">Required!</span></span>
          <span class="input-group-addon small" ng-show="groupFour.input.$error.number"><span class="label label-danger">Not valid number!</span></span>
          <span class="input-group-addon small" ng-show="groupFour.input.$error.min || groupFour.input.$error.max">The value must be in range 0 to 3600!</span>
        </Form>
        <h4 class="smallLabels">Estimate the break duration after each block:</h4>
        <Form class="input-group input-group-lg" name="groupSix">
          <span class="input-group-addon largeLabels" id="sizing-addon3">Estimate the break duration after each block:</span>
          <input type="number" class="form-control" name="input" placeholder="" aria-describedby="sizing-addon3" ng-model="jsonData.design_guide.arrangement.time_break_block" min="0" max="3600" required> 
          <span class="input-group-addon small">Seconds</span> 
          <span class="input-group-addon small" ng-show="groupSix.input.$error.required"><span class="label label-danger">Required!</span></span>
          <span class="input-group-addon small" ng-show="groupSix.input.$error.number"><span class="label label-danger">Not valid number!</span></span>
          <span class="input-group-addon small" ng-show="groupSix.input.$error.min || groupSix.input.$error.max">The value must be in range 0 to 3600!</span>
        </Form>

        <h4 class="smallLabels">The resulting time for the entire experiment is: </h4>
        <div class="input-group input-group-lg">
          <span class="input-group-addon largeLabels" id="sizing-addon7">The resulting time for the entire experiment is:</span>
          <input type="text" class="form-control" placeholder="" aria-describedby="sizing-addon7" ng-model="jsonData.design_guide.arrangement.totalTimeCost" disabled>
          <span class="input-group-addon small">Minutes</span> 
        </div>

        <h4 class="smallLabels">Cost per participant:</h4>
        <Form class="input-group input-group-lg" name="groupFive">
          <span class="input-group-addon largeLabels" id="sizing-addon6">Cost per participant:</span>
          <input type="number" class="form-control" name="input" placeholder="" aria-describedby="sizing-addon6" ng-model="jsonData.design_guide.arrangement.fee_per_participant" min="0" max="999" required>
          <span class="input-group-addon small">Dollars</span>
          <span class="input-group-addon small" ng-show="groupFive.input.$error.required"><span class="label label-danger">Required!</span></span>
          <span class="input-group-addon small" ng-show="groupFive.input.$error.number"><span class="label label-danger">Not valid number!</span></span>
          <span class="input-group-addon small" ng-show="groupFive.input.$error.min || groupFive.input.$error.max">The value must be in range 0 to 999!</span>
        </Form>
        <h4 class="smallLabels">Total cost of participants:</h4>
        <div class="input-group input-group-lg">
          <span class="input-group-addon largeLabels" id="sizing-addon8">Total cost of participants:</span>
          <input type="text" class="form-control" placeholder="" aria-describedby="sizing-addon8" ng-model="jsonData.design_guide.arrangement.totalPayment" disabled>
          <span class="input-group-addon small">Dollars</span>
        </div>        
      </div>
      <div class="jumbotron">
          <p><a role="button" class="btn btn-success btn-lg" ng-click="showDraw()">Generate</a> the simulation of the whole arrangement of the experiment:</p>
          <p>Only after generating the simulation, you will be able to download the arrangement file (*.json format), <a ng-show="generate" ng-click="DownloadFile()">(Click here to download)</a> that will be used as input for the experiment running platform.</p>
      </div>
      <div id="simulation" ng-show="generate">
        <p><a id="expandAllObj" role="button" class="btn btn-success btn-sm">Expand all</a>  <a id="collapseAllObj" role="button" class="btn btn-success btn-sm" onclick="">Collapse all</a></p>
        <div id="draw"></div>
      </div>
      <p>Once you’re satisfied with the main experiment, you can complete the final stage of setting up the experimental procedures. </p>
    <nav>
      <ul class="pager">
          <li class="previous"><a href="guidedesignThree.html"><span aria-hidden="true">&larr;</span> Previous</a></li>
          <li class="next"><a href="guidedesignFive.html">Next<span aria-hidden="true">&rarr;</span></a></li>
      </ul>
    </nav>
    <footer class="footer">
      <p>&copy; XXX-HCI Lab</p>
    </footer>
    </div> 
    <!-- /container --> 

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript" src="js/pageFourControl.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-65012825-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
