<!DOCTYPE html>
<html lang="en" ng-app="nexp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Next Experiment design toolkit for controlled experiment in HCI</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap core Javascript-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="js/angular-local-storage.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="css/guidedesignFive.css" rel="stylesheet">

    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

  </head>

  <body ng-controller="pageFiveControl">

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="guidedesign.html">Home</a></li>
            <li role="presentation"><a href="contents/helpPage6.html">Help</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">NEXP</h3>
      </div>
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="guidedesignOne.html">I-Research question & hypothesis</a></li>
        <li role="presentation"><a href="guidedesignTwo.html">II-Variables</a></li>
        <li role="presentation"><a href="guidedesignThree.html">III-Arrangement</a></li>
        <li role="presentation"><a href="guidedesignFour.html">IV-Block & Trial & Timing</a></li>
        <li role="presentation" class="active"><a href="">V-Procedures</a></li>
      </ul>
      <div class="page-header">
          <h1><b>STAGE 5 :</b> Generate experimental procedure</h1>
          <p>In this final step, we help you to prepare all the documents you might require to generate the full experimental procedure. In addition, we auto-generate an experimental design document that you can use to refer to as you execute your experiment.</p>
      </div>

      <div class="jumbotron">
          <h3>Standard Experimental Procedure forms:</h3>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;1. Recruitment form [<a href="">Download template</a>]</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;2. Consent form [<a href="">Download template]</a></p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;3. Pre-experiment questionnaire [<a target="_blank" href="https://accounts.google.com/ServiceLogin?service=wise&passive=1209600&continue=https%3A%2F%2Fdocs.google.com%2Fforms%2Fcreate%3Fusp%3Dmkt_forms&followup=https%3A%2F%2Fdocs.google.com%2Fforms%2Fcreate%3Fusp%3Dmkt_forms&ltmpl=forms">Link to Google Docs to set up forms</a>]</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;4. Pre-experiment Instructions [<a href="">Download template</a>]</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;5. Save the experimental design (*.json format for reloading) [<a ng-click="DownloadFile()" href="">Designed file from NEXP</a>]</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;6. Download the summarized report [<a ng-click="saveToPDF()" href="">Auto-generate from NEXP</a>]</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;7. Post-experiment questionnaire [<a target="_blank" href="https://accounts.google.com/ServiceLogin?service=wise&passive=1209600&continue=https%3A%2F%2Fdocs.google.com%2Fforms%2Fcreate%3Fusp%3Dmkt_forms&followup=https%3A%2F%2Fdocs.google.com%2Fforms%2Fcreate%3Fusp%3Dmkt_forms&ltmpl=forms">Link to Google Docs to set up forms</a>]</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;8. Participant debrief [<a href="">Download template</a>]</p>

          <a href="contents/helpPage6.html#1" role="button" class="close" aria-label="Close"><span id="helpIcon" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
      </div>
<!--       <div class="jumbotron">
          <p><a role="button" class="btn btn-success btn-lg" target="_blank" href="https://accounts.google.com/ServiceLogin?service=wise&passive=1209600&continue=https%3A%2F%2Fdocs.google.com%2Fforms%2Fcreate%3Fusp%3Dmkt_forms&followup=https%3A%2F%2Fdocs.google.com%2Fforms%2Fcreate%3Fusp%3Dmkt_forms&ltmpl=forms">Create</a> pre-/post-questionnaire using Google forms, and easily embed it into the running platform.</p>
      </div> -->

<!--       <div class="jumbotron">
          <p><a role="button" class="btn btn-success btn-lg" ng-click="DownloadFile()">Save</a> the design file of the whole experiment.</p>
          <p><a role="button" class="btn btn-success btn-lg" ng-click="saveToPDF()">Download</a> the summarized report of the designed controlled experiment.</p>
      </div> -->

      <div class="jumbotron">
          <p><a role="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#reDesign">Re-design</a> another controlled experiment. Remember to save your design to the local machine.</p>
      </div>
    <nav>
      <ul class="pager">
          <li class="previous"><a href="guidedesignFour.html"><span aria-hidden="true">&larr;</span> Previous</a></li>
          <li class="next"><a href="guidedesign.html">Next<span aria-hidden="true">&rarr;</span></a></li>
      </ul>
    </nav>
    <footer class="footer">
      <p>&copy; XXX-HCI Lab</p>
    </footer>
    </div> 

<div id="reDesign" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <p>Re-design will erase the current design. Remember to save your design to the local file, otherwise you may lost the data. Do you really want to redesign?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="redesign()">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
    <!-- /container --> 

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript" src="js/pageFiveControl.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-65012825-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
