<!DOCTYPE html>
<html lang="en" ng-app="nexp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Next Experiment design toolkit for controlled experiment in HCI</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="css/angular-ui-tree.min.css">
    <link rel="stylesheet" href="css/guidedesignTwo.css">

    <!-- Bootstrap core Javascript-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="js/angular-local-storage.min.js"></script>

    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

  </head>

  <body ng-controller="pageTwoControl">

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="guidedesign.html">Home</a></li>
            <li role="presentation"><a href="contents/helpPage3.html">Help</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">NEXP</h3>
      </div>
      <div class="page-header">
          <h1>#2 Determine variables</h1>
      </div>
      <div class="jumbotron">
          <h3>1. Define your independent variables:</h3>
          Variables with only one level will be considered as the control variable.
          Variables with no levels will not be considered as a factor to the experiment and removed in following steps.
      </div>

<!-- AnjularJS Tree -->  
<!--
        <script type="text/ng-template" id="nodes_renderer.html">
          <div class="tree-node tree-node-content">
            <a class="btn btn-success btn-xs" ng-if="node.levels && node.levels.length > 0" data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
            {{node.name}}
            <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
            <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
          </div>
          <ol ui-tree-nodes="" ng-model="node.levels" ng-class="{hidden: collapsed}">
            <li ng-repeat="node in node.levels" ui-tree-node>
              <div ui-tree-handle class="tree-node tree-node-content">
                {{node.name}}
                <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-pencil"></span></a>
              </div>
            </li>
          </ol>
        </script>
        <div ui-tree id="tree-root">
          <ol ui-tree-nodes="" ng-model="jsonData.design_guide.variables.independent_variable">
            <li ng-repeat="node in jsonData.design_guide.variables.independent_variable" ui-tree-node ng-include="'nodes_renderer.html'"></li>
          </ol>
        </div>
-->

      <div ui-tree="options">
<!--         <h3>Independent Variables:</h3> -->
        <ol ui-tree-nodes ng-model="jsonData.design_guide.variables.independent_variable" data-type="group">
          <li ng-repeat="group in jsonData.design_guide.variables.independent_variable" ui-tree-node>
            <div class="group-title angular-ui-tree-handle" ng-show="!group.editing">
              <a href="" class="btn btn-danger btn-xs pull-right" data-nodrag ng-click="removeGroup(group)"><i class="glyphicon glyphicon-remove"></i></a>
              <a href="" class="btn btn-primary btn-xs pull-right" data-nodrag ng-click="editGroup(group)"><i class="glyphicon glyphicon-pencil"></i></a>
              <div>&nbsp;{{group.name}}</div>
            </div>
            <div class="group-title angular-ui-tree-handle" data-nodrag ng-show="group.editing">
              <form class="form-inline" role="form">
                <div class="form-group">
                  <label class="sr-only" for="groupName">Variable name</label>
                  <input type="text" class="form-control" placeholder="Variable name" ng-model="group.name">
                </div>
                <button type="submit" class="btn btn-default" ng-click="saveGroup(group)">Save</button>
                <button type="submit" class="btn btn-default" ng-click="cancelEditingGroup(group)">Cancel</button>
              </form>
            </div>
            <ol ui-tree-nodes ng-model="group.levels" data-type="category">
              <li ng-repeat="category in group.levels" ui-tree-node>
                <div class="category-title angular-ui-tree-handle">
                  <a href="" class="btn btn-danger btn-xs pull-right" data-nodrag ng-click="removeCategory(group, category)"><i class="glyphicon glyphicon-remove"></i></a>
                  <div>
                    &nbsp;{{category.name}}
                  </div>
                </div>
              </li>
            </ol>
            <ol class="angular-ui-tree-nodes" data-nodrag>
              <li class="angular-ui-tree-node">
                <div class="category-title angular-ui-tree-handle">
                  <form class="form-inline" role="form">
                    <div class="form-group">
                      <label class="sr-only" for="categoryName">Level name</label>
                      <input type="text" class="form-control" ng-model="group.newCategoryName" placeholder="Level name">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="addCategory(group)">Add Levels</button>
                  </form>
                </div>
              </li>
            </ol>
          </li>
        </ol>
        <ol class="angular-ui-tree-nodes">
          <li class="angular-ui-tree-node">
            <div class="group-title angular-ui-tree-handle">
              <form class="form-inline" role="form">
                <div class="form-group">
                  <label class="sr-only" for="groupName">Variable name</label>
                  <input type="text" class="form-control" id="groupName" placeholder="Variable name">
                </div>
                <button type="submit" class="btn btn-default" ng-click="addGroup()">Add Independent Variables</button>
              </form>
            </div>
          </li>
        </ol>
      </div>
      <hr />

      <div class="jumbotron">
          <h3>2. Define your dependent variables:</h3>
          Dependent variables are foactors that you hope to measure in the experiment.
      </div>
      <div ui-tree="options">
        <ol class="angular-ui-tree-nodes">
          <li class="angular-ui-tree-node">
            <div class="group-title angular-ui-tree-handle">
              <form class="form-inline" role="form">
                <div class="form-group">
                  <label class="sr-only" for="DVgroupName">Variable name</label>
                  <input type="text" class="form-control" id="DVgroupName" placeholder="Variable name">
                </div>
                <button type="submit" class="btn btn-default" ng-click="addGrouptoDV()">Add Dependent Variables</button>
              </form>
            </div>
          </li>
        </ol>
        <ol ui-tree-nodes ng-model="jsonData.design_guide.variables.dependent_variable" data-type="DVgroup">
            <li ng-repeat="group in jsonData.design_guide.variables.dependent_variable" ui-tree-node>
              <div class="category-title angular-ui-tree-handle" ng-show="!group.editing">
                <a href="" class="btn btn-danger btn-xs pull-right" data-nodrag ng-click="removeDVGroup(group)"><i class="glyphicon glyphicon-remove"></i></a>
                <a href="" class="btn btn-primary btn-xs pull-right" data-nodrag ng-click="editGroup(group)"><i class="glyphicon glyphicon-pencil"></i></a>
                <div>&nbsp;{{group.name}}</div>
              </div>
              <div class="category-title angular-ui-tree-handle" data-nodrag ng-show="group.editing">
                <form class="form-inline" role="form">
                  <div class="form-group">
                    <label class="sr-only" for="DVgroupName">Group name</label>
                    <input type="text" class="form-control" placeholder="Group name" ng-model="group.name">
                  </div>
                  <button type="submit" class="btn btn-default" ng-click="saveGroup(group)">Save</button>
                  <button type="submit" class="btn btn-default" ng-click="cancelEditingGroup(group)">Cancel</button>
                </form>
              </div>
            </li>
          </ol>
        </div>
<!--       <div class="row">
      <div class="col-md-5"><h2>Dependent variables</h2></div>
        <div class="col-md-6">
          <select multiple class="form-control" id="selectTwo" size="4">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          </select>
        </div>
        <div class="col-md-1">
          <div class="btn-group-vertical" role="group" aria-label="...">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#secondModal">
              <span class="glyphicon glyphicon-plus" aria-hidden="false"></span></button>
            <button type="button" class="btn btn-default" onclick="clickMinusFunction(selectTwo)">
              <span class="glyphicon glyphicon-minus" aria-hidden="false"></span></button>
          </div>
        </div>
        
      </div> -->
<!-- ——————————————————————————————————————————————————————————————————————————————————————————————————————————————————————— -->
    <nav>
      <ul class="pager">
        <li class="previous"><a href="guidedesignOne.html"><span aria-hidden="true">&larr;</span> Previous</a></li>
        <li class="next"><a href="guidedesignThree.html">Next<span aria-hidden="true">&rarr;</span></a></li>
      </ul>
    </nav>
    <footer class="footer">
      <p>&copy; NUS-HCI Lab</p>
    </footer>
    </div> 
    <!-- /container --> 

<!-- ——————————————————————————————————————————————————————————————————————————————————————————————————————————————————————— -->
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="js/pageTwoControl.js"></script>
  <script src="js/ie10-viewport-bug-workaround.js"></script>
  <script type="text/javascript" src="js/angular-ui-tree.js"></script>
  <script type="text/javascript" src="js/pageTwoControl.js"></script> 
  </body>
</html>
