<!DOCTYPE html>
<html lang="en" ng-app="nexp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Next Experiment design toolkit for controlled experiment in HCI</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/angular-ui-tree.min.css">

    <!-- Bootstrap core Javascript-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="js/angular-local-storage.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="css/guidedesignOne.css" rel="stylesheet">

    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

  </head>

  <body ng-controller="pageOneControl">
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="guidedesign.html">Home</a></li>
            <li role="presentation" data-toggle="tooltip" data-placement="bottom" title="Click here to see tutorial & examples"><a href="contents/helpPage2.html">Help</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">NEXP</h3>
      </div>
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="">I-Research question & hypothesis</a></li>
        <li role="presentation"><a href="guidedesignTwo.html">II-Variables</a></li>
        <li role="presentation"><a href="guidedesignThree.html">III-Arrangement</a></li>
        <li role="presentation"><a href="guidedesignFour.html">IV-Block & Trial & Timing</a></li>
        <li role="presentation"><a href="guidedesignFive.html">V-Procedures</a></li>
      </ul>
      <div class="page-header">
          <h1><b>STAGE 1 :</b> Think through your claim</h1>
      </div>
<!-- The first question starts: setup the experiment   -->
      <div class="jumbotron">
          <p>1. Let’s set up the experiment:</p>
          <a href="contents/helpPage2.html#1" role="button" class="close" aria-label="Close"><span id="helpIcon" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
      </div>
    <!--   <textarea class="form-control" rows="3" placeholder="Research Question" ng-model="jsonData.design_guide.research_question.general_question"></textarea> -->

<!--       <div class="jumbotron">
          <p>2. After figuring out the general question, please type the necessary information below:</p>
          <a href="contents/helpPage2.html#2" role="button" class="close" aria-label="Close"><span id="helpIcon" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
      </div> -->
      <div class="InputGroup">
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1">Experiment Title:</span>
          <input type="text" class="form-control" placeholder="title" aria-describedby="sizing-addon1" ng-model="jsonData.design_guide.research_question.experiment_title">
        </div>
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon2">Author:</span>
          <input type="text" class="form-control" placeholder="author" aria-describedby="sizing-addon2" ng-model="jsonData.design_guide.research_question.experiment_conductor">
        </div>
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon3">Description:</span>
          <input type="text" class="form-control" placeholder="description" aria-describedby="sizing-addon3" ng-model="jsonData.design_guide.research_question.experiment_description">
        </div>
      </div>
      <div class="jumbotron">
          <p>To test your statement, you have to define a reasonable hypothesis based on your research question. The process of refining the hypothesis helps you specify representative independent/dependent variables and test conditions.</p>
          <p><a role="button" class="btn btn-success" data-toggle="modal" data-target="#showExample">Show example</a><a role="button" class="btn btn-success" data-toggle="modal" data-target="#reset">Reset</a></p>
          <a href="contents/helpPage2.html#3" role="button" class="close" aria-label="Close"><span id="helpIcon" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
      </div>

<!-- The second question starts: target_population   -->
      <div ui-tree="options" class="treeClass">
        <ol class="angular-ui-tree-nodes">
          <li class="angular-ui-tree-node">
            <div class="group-title angular-ui-tree-handle">
              <label><h4>2. Who is your solution for? Describe your target user. Consider age, ability and motivation of the user. A general population answer is also acceptable. </h4></label>
              <form class="form-inline" role="form">
                <div class="form-group">
                  <input type="text" class="form-control" id="targetPopulation" placeholder="Click to edit...">
                </div>
                <button type="submit" class="btn btn-default" ng-click="addItems('targetPopulation')">Add</button>
              </form>
            </div>
          </li>
        </ol>
        <ol ui-tree-nodes ng-model="jsonData.design_guide.research_question.hypothesis.target_population">
            <li ng-repeat="group in jsonData.design_guide.research_question.hypothesis.target_population" ui-tree-node>
              <div class="category-title angular-ui-tree-handle" ng-show="!group.editing">
                <a href="" class="btn btn-danger btn-xs pull-right" data-nodrag ng-click="removeItem('targetPopulation',group)"><i class="glyphicon glyphicon-remove"></i></a>
                <a href="" class="btn btn-primary btn-xs pull-right" data-nodrag ng-click="editItem(group)"><i class="glyphicon glyphicon-pencil"></i></a>
                <div>&nbsp;{{group.name}}</div>
              </div>
              <div class="category-title angular-ui-tree-handle" data-nodrag ng-show="group.editing">
                <form class="form-inline" role="form">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Group name" ng-model="group.name">
                  </div>
                  <button type="submit" class="btn btn-default" ng-click="saveItem(group)">Save</button>
                  <button type="submit" class="btn btn-default" ng-click="cancelEditingItem(group)">Cancel</button>
                </form>
              </div>
            </li>
          </ol>
        </div>  

<!--  The third question starts: main_solutions -->
      <div ui-tree="options" class="treeClass">
        <ol class="angular-ui-tree-nodes">
          <li class="angular-ui-tree-node">
            <div class="group-title angular-ui-tree-handle">
              <label><h4>3. What are you hypothesizing? Experiments are designed to prove a hypothesis that your solution(s) is better than other solution(s) in certain ways. State the solutions you wish to compare.</h4></label>
              <div class="row">
                <div class="col-md-5">
                  <form class="form-inline" role="form">       
                  <div class="form-group">
                    <input type="text" class="form-control" id="MainSolutions" placeholder="Click to edit...">
                  </div>
                  <button type="submit" class="btn btn-default" ng-click="addItems('MainSolutions')">Add</button>
                  </form>
                </div>
                <div class="col-md-2">is better than</div>
                <div class="col-md-5">
                  <form class="form-inline" role="form">
                    <div class="form-group">
                      <input type="text" class="form-control" id="ComSolutions" placeholder="Click to edit...">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="addItems('ComSolutions')">Add</button>
                  </form>
                </div>
              </div>
            </div>
          </li>
        </ol>
        <div class="row">
          <div class="col-md-5">
            <ol ui-tree-nodes ng-model="jsonData.design_guide.research_question.hypothesis.main_solutions">
              <li ng-repeat="group in jsonData.design_guide.research_question.hypothesis.main_solutions" ui-tree-node>
                <div class="category-title angular-ui-tree-handle" ng-show="!group.editing">
                  <a href="" class="btn btn-danger btn-xs pull-right" data-nodrag ng-click="removeItem('MainSolutions',group)"><i class="glyphicon glyphicon-remove"></i></a>
                  <a href="" class="btn btn-primary btn-xs pull-right" data-nodrag ng-click="editItem(group)"><i class="glyphicon glyphicon-pencil"></i></a>
                  <div>&nbsp;{{group.name}}</div>
                </div>
                <div class="category-title angular-ui-tree-handle" data-nodrag ng-show="group.editing">
                  <form class="form-inline" role="form">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Group name" ng-model="group.name">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="saveItem(group)">Save</button>
                    <button type="submit" class="btn btn-default" ng-click="cancelEditingItem(group)">Cancel</button>
                  </form>
                </div>
              </li>
            </ol>            
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <ol ui-tree-nodes ng-model="jsonData.design_guide.research_question.hypothesis.compare_solutions">
              <li ng-repeat="group in jsonData.design_guide.research_question.hypothesis.compare_solutions" ui-tree-node>
                <div class="category-title angular-ui-tree-handle" ng-show="!group.editing">
                  <a href="" class="btn btn-danger btn-xs pull-right" data-nodrag ng-click="removeItem('ComSolutions',group)"><i class="glyphicon glyphicon-remove"></i></a>
                  <a href="" class="btn btn-primary btn-xs pull-right" data-nodrag ng-click="editItem(group)"><i class="glyphicon glyphicon-pencil"></i></a>
                  <div>&nbsp;{{group.name}}</div>
                </div>
                <div class="category-title angular-ui-tree-handle" data-nodrag ng-show="group.editing">
                  <form class="form-inline" role="form">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Group name" ng-model="group.name">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="saveItem(group)">Save</button>
                    <button type="submit" class="btn btn-default" ng-click="cancelEditingItem(group)">Cancel</button>
                  </form>
                </div>
              </li>
            </ol>
          </div>
        </div>

        </div>
<!-- The second question starts: compare_solutions -->
<!--       <div ui-tree="options" class="treeClass">
        <ol class="angular-ui-tree-nodes">
          <li class="angular-ui-tree-node">
            <div class="group-title angular-ui-tree-handle">
              <label><h4>3.2 What are other solutions you are going to compare with?</h4></label>
              <form class="form-inline" role="form">
                <div class="form-group">
                  <input type="text" class="form-control" id="ComSolutions" placeholder="Click to edit...">
                </div>
                <button type="submit" class="btn btn-default" ng-click="addItems('ComSolutions')">Add</button>
              </form>
            </div>
          </li>
        </ol>
        <ol ui-tree-nodes ng-model="jsonData.design_guide.research_question.hypothesis.compare_solutions">
            <li ng-repeat="group in jsonData.design_guide.research_question.hypothesis.compare_solutions" ui-tree-node>
              <div class="category-title angular-ui-tree-handle" ng-show="!group.editing">
                <a href="" class="btn btn-danger btn-xs pull-right" data-nodrag ng-click="removeItem('ComSolutions',group)"><i class="glyphicon glyphicon-remove"></i></a>
                <a href="" class="btn btn-primary btn-xs pull-right" data-nodrag ng-click="editItem(group)"><i class="glyphicon glyphicon-pencil"></i></a>
                <div>&nbsp;{{group.name}}</div>
              </div>
              <div class="category-title angular-ui-tree-handle" data-nodrag ng-show="group.editing">
                <form class="form-inline" role="form">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Group name" ng-model="group.name">
                  </div>
                  <button type="submit" class="btn btn-default" ng-click="saveItem(group)">Save</button>
                  <button type="submit" class="btn btn-default" ng-click="cancelEditingItem(group)">Cancel</button>
                </form>
              </div>
            </li>
          </ol>
        </div> -->



<!-- The forth question starts: tasks   -->
      <div ui-tree="options" class="treeClass">
        <ol class="angular-ui-tree-nodes">
          <li class="angular-ui-tree-node">
            <div class="group-title angular-ui-tree-handle">
              <label><h4>4. Using your solution, what tasks will your users be able to perform better? Example tasks including target clicking or text selecting.</h4></label>
              <form class="form-inline" role="form">
                <div class="form-group">
                  <input type="text" class="form-control" id="Tasks" placeholder="Click to edit...">
                </div>
                <button type="submit" class="btn btn-default" ng-click="addItems('Tasks')">Add</button>
              </form>
            </div>
          </li>
        </ol>
        <ol ui-tree-nodes ng-model="jsonData.design_guide.research_question.hypothesis.tasks">
            <li ng-repeat="group in jsonData.design_guide.research_question.hypothesis.tasks" ui-tree-node>
              <div class="category-title angular-ui-tree-handle" ng-show="!group.editing">
                <a href="" class="btn btn-danger btn-xs pull-right" data-nodrag ng-click="removeItem('Tasks',group)"><i class="glyphicon glyphicon-remove"></i></a>
                <a href="" class="btn btn-primary btn-xs pull-right" data-nodrag ng-click="editItem(group)"><i class="glyphicon glyphicon-pencil"></i></a>
                <div>&nbsp;{{group.name}}</div>
              </div>
              <div class="category-title angular-ui-tree-handle" data-nodrag ng-show="group.editing">
                <form class="form-inline" role="form">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Group name" ng-model="group.name">
                  </div>
                  <button type="submit" class="btn btn-default" ng-click="saveItem(group)">Save</button>
                  <button type="submit" class="btn btn-default" ng-click="cancelEditingItem(group)">Cancel</button>
                </form>
              </div>
            </li>
          </ol>
        </div>      
      
<!-- The fifth question starts: measures -->
      <div ui-tree="options" class="treeClass">
        <ol class="angular-ui-tree-nodes">
          <li class="angular-ui-tree-node">
            <div class="group-title angular-ui-tree-handle">
              <label><h4>5. To show that the tasks have been performed better, what will you measure? State the measurement(s) you wish to make to demonstrate the users’ ability to perform these tasks.  Common measurements are speed of task completion, accuracy of task completion, and learnability of the solutions.</h4></label>
              <form class="form-inline" role="form">
                <div class="form-group">
                  <input type="text" class="form-control" id="Measures" placeholder="Click to edit...">
                </div>
                <button type="submit" class="btn btn-default" ng-click="addItems('Measures')">Add</button>
              </form>
            </div>
          </li>
        </ol>
        <ol ui-tree-nodes ng-model="jsonData.design_guide.research_question.hypothesis.measures">
            <li ng-repeat="group in jsonData.design_guide.research_question.hypothesis.measures" ui-tree-node>
              <div class="category-title angular-ui-tree-handle" ng-show="!group.editing">
                <a href="" class="btn btn-danger btn-xs pull-right" data-nodrag ng-click="removeItem('Measures',group)"><i class="glyphicon glyphicon-remove"></i></a>
                <a href="" class="btn btn-primary btn-xs pull-right" data-nodrag ng-click="editItem(group)"><i class="glyphicon glyphicon-pencil"></i></a>
                <div>&nbsp;{{group.name}}</div>
              </div>
              <div class="category-title angular-ui-tree-handle" data-nodrag ng-show="group.editing">
                <form class="form-inline" role="form">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Group name" ng-model="group.name">
                  </div>
                  <button type="submit" class="btn btn-default" ng-click="saveItem(group)">Save</button>
                  <button type="submit" class="btn btn-default" ng-click="cancelEditingItem(group)">Cancel</button>
                </form>
              </div>
            </li>
          </ol>
        </div> 

<!-- The sixth question starts: contexts -->
      <div ui-tree="options" class="treeClass">
        <ol class="angular-ui-tree-nodes">
          <li class="angular-ui-tree-node">
            <div class="group-title angular-ui-tree-handle">
              <form class="form-inline" role="form">
                <label><h4>6. Other than the tasks, what other factors might influence the performance of these tasks? Examples can include usage of scenario, size of cursor or users’ dominant hand.</h4></label>
                <div class="form-group">
                  <input type="text" class="form-control" id="Contexts" placeholder="Click to edit...">
                </div>
                <button type="submit" class="btn btn-default" ng-click="addItems('Contexts')">Add</button>
              </form>
            </div>
          </li>
        </ol>
        <ol ui-tree-nodes ng-model="jsonData.design_guide.research_question.hypothesis.contexts">
            <li ng-repeat="group in jsonData.design_guide.research_question.hypothesis.contexts" ui-tree-node>
              <div class="category-title angular-ui-tree-handle" ng-show="!group.editing">
                <a href="" class="btn btn-danger btn-xs pull-right" data-nodrag ng-click="removeItem('Contexts',group)"><i class="glyphicon glyphicon-remove"></i></a>
                <a href="" class="btn btn-primary btn-xs pull-right" data-nodrag ng-click="editItem(group)"><i class="glyphicon glyphicon-pencil"></i></a>
                <div>&nbsp;{{group.name}}</div>
              </div>
              <div class="category-title angular-ui-tree-handle" data-nodrag ng-show="group.editing">
                <form class="form-inline" role="form">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Group name" ng-model="group.name">
                  </div>
                  <button type="submit" class="btn btn-default" ng-click="saveItem(group)">Save</button>
                  <button type="submit" class="btn btn-default" ng-click="cancelEditingItem(group)">Cancel</button>
                </form>
              </div>
            </li>
          </ol>
        </div> 

<!--       "One of the challenges in experiment design is to decide what to test (independent variables) and what to measure (dependent variables). With the 5-Step approach, things become much easier, but you still have to make those tough decisions. When you face difficulties, it's always important to go back to your research question and ask what exactly you want to test in the experiment. This will help you to prioritize your choices." -->

<!-- Select options -->
<!--       <div class="row">
        <div class="col-md-5"> <h1><mark>Hypothesis:</mark></h1> </div>
        <div class="col-md-6">
          <select multiple class="form-control" id="selectOne" size="4" ng-model="selectedItemOne">
          <option ng-repeat="mainSolution in jsonData.design_guide.research_question.hypothesis.main_solutions track by $index">{{mainSolution}}</option>
          </select>
        </div>
        <div class="col-md-1">
          <div class="btn-group-vertical" role="group" aria-label="...">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#firstModal">
              <span class="glyphicon glyphicon-plus" aria-hidden="false"></span></button>
            <button type="button" class="btn btn-default" ng-click="clickMinusFunction('selectOne')">
              <span class="glyphicon glyphicon-minus" aria-hidden="false"></span></button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5"><h1>is better than</h1></div>
        <div class="col-md-6">
          <select multiple class="form-control" id="selectTwo" size="4" ng-model="selectedItemTwo">
          <option ng-repeat="comSolution in jsonData.design_guide.research_question.hypothesis.compare_solutions track by $index">{{comSolution}}</option>
          </select>
        </div>
        <div class="col-md-1">
          <div class="btn-group-vertical" role="group" aria-label="...">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#secondModal">
              <span class="glyphicon glyphicon-plus" aria-hidden="false"></span></button>
            <button type="button" class="btn btn-default" ng-click="clickMinusFunction('selectTwo')">
              <span class="glyphicon glyphicon-minus" aria-hidden="false"></span></button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5"><h1>in</h1></div>
        <div class="col-md-6">
          <select multiple class="form-control" id="selectThree" size="4" ng-model="selectedItemThree">
          <option ng-repeat="task in jsonData.design_guide.research_question.hypothesis.tasks track by $index">{{task}}</option>
          </select>
        </div>
        <div class="col-md-1">
          <div class="btn-group-vertical" role="group" aria-label="...">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#thirdModal">
              <span class="glyphicon glyphicon-plus" aria-hidden="false"></span></button>
            <button type="button" class="btn btn-default" ng-click="clickMinusFunction('selectThree')">
              <span class="glyphicon glyphicon-minus" aria-hidden="false"></span></button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5"><h1>under</h1></div>
        <div class="col-md-6">
          <select multiple class="form-control" id="selectFour" size="4" ng-model="selectedItemFour">
            <option ng-repeat="context in jsonData.design_guide.research_question.hypothesis.contexts track by $index">{{context}}</option>
          </select>
        </div>
        <div class="col-md-1">
          <div class="btn-group-vertical" role="group" aria-label="...">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#forthModal">
              <span class="glyphicon glyphicon-plus" aria-hidden="false"></span></button>
            <button type="button" class="btn btn-default" ng-click="clickMinusFunction('selectFour')">
              <span class="glyphicon glyphicon-minus" aria-hidden="false"></span></button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5"><h1>based on</h1></div>
        <div class="col-md-6">
          <select multiple class="form-control" id="selectFive" size="4" ng-model="selectedItemFive"> 
            <option ng-repeat="measure in jsonData.design_guide.research_question.hypothesis.measures track by $index">{{measure}}</option>
          </select>
        </div>
        <div class="col-md-1">
          <div class="btn-group-vertical" role="group" aria-label="...">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#fifthModal">
              <span class="glyphicon glyphicon-plus" aria-hidden="false"></span></button>
            <button type="button" class="btn btn-default" ng-click="clickMinusFunction('selectFive')">
              <span class="glyphicon glyphicon-minus" aria-hidden="false"></span></button>
          </div>
        </div>
      </div> -->
<!-- ———————————————————————————————————————————————————————————————————————————————————————————————————The hypothesis is generated: -->
      <div class="jumbotron">
          <p>7. Based on the information you have given above, this is what your hypothesis looks like at the moment. Feel free to adjust the information above until you feel that the hypothesis explains what you want to test, and appears to be a hypothesis that can be tested. </p>
          <div id='hypothesis'>
          <p>
            Experiment Title: <u><span ng-bind="jsonData.design_guide.research_question.experiment_title"></span></u>
          </p>
          <p>
            Author: <u><span ng-bind="jsonData.design_guide.research_question.experiment_conductor"></span></u>
          </p>
          <p>
            In my experiment, I want to hypothesize that for to do
            "<span ng-repeat="group in jsonData.design_guide.research_question.hypothesis.tasks"><u>{{group.name;}}</u>&nbsp;</span><span ng-show="!jsonData.design_guide.research_question.hypothesis.tasks.length"><u>&nbsp;&nbsp;&nbsp;&nbsp;</u>&nbsp;</span>",
            "<span ng-repeat="group in jsonData.design_guide.research_question.hypothesis.main_solutions"><u>{{group.name;}}</u>&nbsp;</span><span ng-show="!jsonData.design_guide.research_question.hypothesis.main_solutions.length"><u>&nbsp;&nbsp;&nbsp;&nbsp;</u>&nbsp;</span>" is better than
            "<span ng-repeat="group in jsonData.design_guide.research_question.hypothesis.compare_solutions"><u>{{group.name;}}</u>&nbsp;</span><span ng-show="!jsonData.design_guide.research_question.hypothesis.compare_solutions.length"><u>&nbsp;&nbsp;&nbsp;&nbsp;</u>&nbsp;</span>". To test this hypothesis, I will vary the
            "<span ng-repeat="group in jsonData.design_guide.research_question.hypothesis.contexts"><u>{{group.name;}}</u>&nbsp;</span><span ng-show="!jsonData.design_guide.research_question.hypothesis.contexts.length"><u>&nbsp;&nbsp;&nbsp;&nbsp;</u>&nbsp;</span>" and measure
            "<span ng-repeat="group in jsonData.design_guide.research_question.hypothesis.measures"><u>{{group.name;}}</u>&nbsp;</span><span ng-show="!jsonData.design_guide.research_question.hypothesis.measures.length"><u>&nbsp;&nbsp;&nbsp;&nbsp;</u>&nbsp;</span>".
          </p>
          </div>
      </div>
    <nav>
      <ul class="pager">
        <li class="previous"><a href="guidedesign.html"><span aria-hidden="true">&larr;</span> Previous</a></li>
        <li class="next"><a href="guidedesignTwo.html">Next<span aria-hidden="true">&rarr;</span></a></li>
      </ul>
    </nav>
    <footer class="footer">
      <p>&copy; XXX-HCI Lab</p>
    </footer>
    </div> 
    <!-- /container --> 

<!-- Model template for add into the select options -->
<div id="showExample" class="modal fade bs-example-modal-sm" role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <p>The example will replace your current setup. Do you really want to show the example?</p>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="showExample()">Yes</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<div id="reset" class="modal fade bs-example-modal-sm" role="dialog" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <p>Reset will erase your current setup. Do you really want to reset?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reset()">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
<!-- ——————————————————————————————————————————————————————————————————————————————————————————————————————————————————————— -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/pageOneControl.js"></script>
    <script src="js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript" src="js/angular-ui-tree.js"></script>
    <script type="text/javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip('show');

      setTimeout(function(){$('[data-toggle="tooltip"]').tooltip('hide');},3000);
    })
    </script>
  </body>
</html>
