<!DOCTYPE html>
<html lang="en" ng-app="nexp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Next Experiment design toolkit for controlled experiment in HCI</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap core Javascript-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="js/angular-local-storage.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="css/guidedesignOne.css" rel="stylesheet">

    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

  </head>

  <body ng-controller="pageOneControl">

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="guidedesign.html">Home</a></li>
            <li role="presentation"><a href="contents/helpPage2.html">Help</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">NEXP</h3>
      </div>
      <div class="page-header">
          <h1>#1 Define the research question</h1>
      </div>
      <div class="jumbotron">
          <p>1. Before designing the experiment, you should be clear that what question you are going to focus on. Start with a general Question:</p>
      </div>
      <textarea class="form-control" rows="3" placeholder="Research Question" ng-model="jsonData.design_guide.research_question.general_question"></textarea>

      <div class="jumbotron">
          <p>2. After figuring out the general question, please type the necessary information below:</p>
      </div>
      <div class="InputGroup">
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1">Experiment Name:</span>
          <input type="text" class="form-control" placeholder="name" aria-describedby="sizing-addon1" ng-model="jsonData.design_guide.research_question.experiment_title">
        </div>
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon2">Author:</span>
          <input type="text" class="form-control" placeholder="author" aria-describedby="sizing-addon2" ng-model="jsonData.design_guide.research_question.experiment_description">
        </div>
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon3">Description:</span>
          <input type="text" class="form-control" placeholder="description" aria-describedby="sizing-addon3" ng-model="jsonData.design_guide.research_question.experiment_conductor">
        </div>
      </div>
      <div class="jumbotron">
          <p>3. Acoording to your general question, define your hypothesis as the below form: ___(Your solution/product/service)__ is better than___(other solutions/products/services)__ in___(certain tasks)___ under___(certain context)___ based on___(certain terms)___.</p>
      </div>
<!--       "One of the challenges in experiment design is to decide what to test (independent variables) and what to measure (dependent variables). With the 5-Step approach, things become much easier, but you still have to make those tough decisions. When you face difficulties, it's always important to go back to your research question and ask what exactly you want to test in the experiment. This will help you to prioritize your choices." -->

<!-- Select options -->
      <div class="row">
        <div class="col-md-5"> <h1><mark>Hypothesis:</mark></h1> </div>
        <div class="col-md-6">
          <select multiple class="form-control" id="selectOne" size="4" ng-model="selectedItemOne">
          <option ng-repeat="mainSolution in jsonData.design_guide.research_question.hypothesis.main_solutions track by $index">{{mainSolution}}</option>
          </select>
        </div>
        <div class="col-md-1">
          <div class="btn-group-vertical" role="group" aria-label="...">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#firstModal">
              <span class="glyphicon glyphicon-plus" aria-hidden="false"></span></button>
            <button type="button" class="btn btn-default" ng-click="clickMinusFunction('selectOne')">
              <span class="glyphicon glyphicon-minus" aria-hidden="false"></span></button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5"><h1>is better than</h1></div>
        <div class="col-md-6">
          <select multiple class="form-control" id="selectTwo" size="4" ng-model="selectedItemTwo">
          <option ng-repeat="comSolution in jsonData.design_guide.research_question.hypothesis.compare_solutions track by $index">{{comSolution}}</option>
          </select>
        </div>
        <div class="col-md-1">
          <div class="btn-group-vertical" role="group" aria-label="...">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#secondModal">
              <span class="glyphicon glyphicon-plus" aria-hidden="false"></span></button>
            <button type="button" class="btn btn-default" ng-click="clickMinusFunction('selectTwo')">
              <span class="glyphicon glyphicon-minus" aria-hidden="false"></span></button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5"><h1>in</h1></div>
        <div class="col-md-6">
          <select multiple class="form-control" id="selectThree" size="4" ng-model="selectedItemThree">
          <option ng-repeat="task in jsonData.design_guide.research_question.hypothesis.tasks track by $index">{{task}}</option>
          </select>
        </div>
        <div class="col-md-1">
          <div class="btn-group-vertical" role="group" aria-label="...">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#thirdModal">
              <span class="glyphicon glyphicon-plus" aria-hidden="false"></span></button>
            <button type="button" class="btn btn-default" ng-click="clickMinusFunction('selectThree')">
              <span class="glyphicon glyphicon-minus" aria-hidden="false"></span></button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5"><h1>under</h1></div>
        <div class="col-md-6">
          <select multiple class="form-control" id="selectFour" size="4" ng-model="selectedItemFour">
            <option ng-repeat="context in jsonData.design_guide.research_question.hypothesis.contexts track by $index">{{context}}</option>
          </select>
        </div>
        <div class="col-md-1">
          <div class="btn-group-vertical" role="group" aria-label="...">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#forthModal">
              <span class="glyphicon glyphicon-plus" aria-hidden="false"></span></button>
            <button type="button" class="btn btn-default" ng-click="clickMinusFunction('selectFour')">
              <span class="glyphicon glyphicon-minus" aria-hidden="false"></span></button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5"><h1>based on</h1></div>
        <div class="col-md-6">
          <select multiple class="form-control" id="selectFive" size="4" ng-model="selectedItemFive"> 
            <option ng-repeat="measure in jsonData.design_guide.research_question.hypothesis.measures track by $index">{{measure}}</option>
          </select>
        </div>
        <div class="col-md-1">
          <div class="btn-group-vertical" role="group" aria-label="...">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#fifthModal">
              <span class="glyphicon glyphicon-plus" aria-hidden="false"></span></button>
            <button type="button" class="btn btn-default" ng-click="clickMinusFunction('selectFive')">
              <span class="glyphicon glyphicon-minus" aria-hidden="false"></span></button>
          </div>
        </div>
      </div>
<!-- ——————————————————————————————————————————————————————————————————————————————————————————————————————————————————————— -->
    <nav>
      <ul class="pager">
        <li class="previous"><a href="guidedesign.html"><span aria-hidden="true">&larr;</span> Previous</a></li>
        <li class="next"><a href="guidedesignTwo.html">Next<span aria-hidden="true">&rarr;</span></a></li>
      </ul>
    </nav>
    <footer class="footer">
      <p>&copy; NUS-HCI Lab</p>
    </footer>
    </div> 
    <!-- /container --> 

<!-- Model template for add into the select options -->
    <div class="modal fade bs-example-modal-sm" id="firstModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-body">
              <div class="input-group input-group-lg">
                <input id="inputOne" type="text" class="form-control" placeholder="Your solution" ng-model="addOption">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveChanges('selectOne')">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade bs-example-modal-sm" id="secondModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-body">
              <div class="input-group input-group-lg">
                <input id="inputTwo" type="text" class="form-control" placeholder="Other solution" ng-model="addOption">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveChanges('selectTwo')">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade bs-example-modal-sm" id="thirdModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-body">
              <div class="input-group input-group-lg">
                <input id="inputThree" type="text" class="form-control" placeholder="certain tasks" ng-model="addOption">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveChanges('selectThree')">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade bs-example-modal-sm" id="forthModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-body">
              <div class="input-group input-group-lg">
                <input id="inputFour" type="text" class="form-control" placeholder="certain context" ng-model="addOption">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveChanges('selectFour')">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade bs-example-modal-sm" id="fifthModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-body">
              <div class="input-group input-group-lg">
                <input id="inputFive" type="text" class="form-control" placeholder="centain terms" ng-model="addOption">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveChanges('selectFive')">Save changes</button>
          </div>
        </div>
      </div>
    </div>
<!-- ——————————————————————————————————————————————————————————————————————————————————————————————————————————————————————— -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/pageOneControl.js"></script>
    <script src="js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
    </script>
  </body>
</html>
